.back {
  border: none;
  padding: 15px;
  margin: 15px;
  border-radius: 7px;
  box-shadow: 0 0 4px black;
  font: inherit;
  font-weight: 600;
  color: black;
  background-color: white;
  cursor: pointer;
}

.back:active,
.back:hover {
  box-shadow: 0 0 4px black inset;
  transform: scale(1.1);
}

.movieDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title {
  font-family: 'sans-serif', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  color: white;
}

.subtitle,
.othersub {
  font-family: 'sans-serif', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  color: white;
}

.paragraph {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  color: white;
}
.line {
  content: '';
  background-color: silver;
  height: 3px;
  width: 100%;
  margin: 20px 0;
  border: 1px solid transparent;
  box-shadow: 0 0 2px rgb(0, 0, 0, 0) inset;
  border-radius: 10px;
}

.otherInf {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.othersub {
  text-align: center;
}
.otherBtn {
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 0 0 4px black;
  font: inherit;
  font-weight: 600;
  color: black;
  background-color: white;
  cursor: pointer;
}
