.subtitle {
  font-family: 'sans-serif', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  font-size: 30px;
  text-align: center;
  margin: 20px 0 30px;
  color: white;
}

.author {
  font-size: 25px;
  margin: 20px 0;
  text-decoration: underline;
  color: white;
}

.review {
  padding: 0 15px 15px;
  font-size: 20px;
  color: white;
}
